.mainLogin {
    width: 100vw;
    height: 100vh;
    background: var(--gray-800);

    display: flex;
    justify-content: center;
    align-items:center;
  }
.leftLogin {
    width: 50vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.leftLogin > h1 {
    font-size: 2vw;
    color: var(--green-300);
}

.leftLogin img {
    width: 30vw;
}

.rightLogin {
    width: 50vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items:center;
}

.cardLogin {
    width: 60%;

    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.cardLogin > h1 {
    color: var(--green-500);
    font-weight: 800;
    margin: 0;
}

.textField {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.textField > input {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: calc(1rem - 1px);
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;

}

.textField > label {
    color: #f0ffffde;
    margin-bottom: calc(1rem - 6px);
}

.textField > input::placeholder {
    color: #f0ffff94;
}
.btnLogin {
    width: 100%;
    padding: 1rem 0;
    margin: calc(1rem + 9px);
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b134b;
    background: var(--green-300);
    cursor: pointer;
    box-shadow: 0 10px 40px -12px var(--green-500);
}

@media only screen and (max-width: 950px) {
    .carLogin {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .mainLogin {
        flex-direction: column;
    }

    .leftLogin > h1 {
        display: none;
    }

    .leftLogin {
        width: 100%;
        height: auto;
    }

    .rightLogin {
        width: 100%;
        height: auto;
    }

    .leftLogin img {
        width: 50vw;
    }
    .carLogin {
        width: 90%;
    }
}